{% extends "base.html" %}

{% block content %}
<h1>All Albums</h1>

<p><a href="{% url 'add_albums' %}">Add New Album</a></p>

<div class="flex flex-wrap">
  {% for album in albums %}
  <div class="w-33 pa3">
    <h2>{{ album.title }}</h2>

<img src={{album.image_url}} alt="picture of album">
    
    {% if album.artist %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-music"></i></div>
      <div>{{ album.artist }}</div>
    </div>
    {% endif %}


    {% if album.year_made %}
    <div class="flex">
      <div class="pr2"><i class="icofont-ui-timer"></i></div>
      <div>{{ album.year_made }}</div>
    </div>
    {% endif %}

    <p>
      <a href="{% url 'edit_albums' pk=album.pk %}">Edit Album</a><br>    
      <a class="red" href="{% url 'delete_albums' pk=album.pk %}">Delete Album</a>
    </p>


  </div>
  {% endfor %}
</div>  
{% endblock %}
